@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {

  /* Font */
  --ff: 'Poppins', sans-serif;
  --fs: 16px;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* Colors */
  /* Primary */
  --color-red: hsl(0, 100%, 74%);
  --color-green: hsl(154, 59%, 51%);

  /* Accent */
  --color-blue: hsl(248, 32%, 49%);

  /* Neutral */
  --color-dark-blue: hsl(249, 10%, 26%);
  --color-grayish-blue: hsl(246, 25%, 77%);

  /* Layout */
  --mobile: 375px;
  --desktop: 1440px;

}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--color-red);
}

body {
  font-family: var(--ff);
  font-size: var(--fs);
  background-image: url(./images/bg-intro-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 20.5rem;
}

h1 {
  font-size: 1.7rem;
  text-align: center;
  margin-top: 5.5rem;
  line-height: 2.4rem;
  margin-bottom: 1.3rem;
}

.info {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 4.2rem;
}

.try {
  background-color: var(--color-blue);
  font-size: 1rem;
  text-align: center;
  border-radius: 0.7rem;
  padding: 1.2rem 4rem;
  margin-bottom: 1.4rem;
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15);
}

.try span {
  font-weight: var(--fw-semibold);
}

form {
  background-color: white;
  border-radius: 0.7rem;
  padding: 1.6rem 0 1.5rem 0;
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15);
}

.wrapper {
  padding: 0 1.5rem;
}

.item {
  position: relative;
  border: 1px solid var(--color-grayish-blue);
  overflow: hidden;
  border-radius: 0.3rem;
  margin-top: 1.05rem;
}

input {
  width: 100%;
  line-height: 3.3rem;
  padding: 0 1.2rem;
  outline: 0;
}

.item:first-child {
  margin-top: 0;
}

.item svg {
  position: absolute;
  top: 0.85rem;
  right: 1.05rem;
}

.msg {
  font-size: 0.8rem;
  font-style: italic;
  color: var(--color-red);
  text-align: right;
  margin-top: 0.3rem;
  transition: all 0.3s ease-out;
  animation: appear .5s ease forwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.error {
  border: 2px solid var(--color-red);
}

.placeholder {
  font-size: 0.95rem;
  font-weight: var(--fw-bold);
  color: var(--color-dark-blue)
}

form button {
  font-size: 0.9rem;
  font-weight: var(--fw-medium);
  letter-spacing: 0.04rem;
  text-transform: uppercase;
  background-color: var(--color-green);
  color: white;
  padding-top: 0.3rem;
  margin-bottom: 0.7rem;
  cursor: pointer;
  box-shadow: 0px 4px 0px 0px #30BA7F;
}

.btn {
  width: 100%;
  border: 1px solid var(--color-green);
  line-height: 3.3rem;
}

.btn:hover {
  opacity: 0.7;
}

.btn:active {
  box-shadow: 0px 2px 0px 0px #30BA7F;
}

form p {
  font-size: 0.7rem;
  color: var(--color-grayish-blue);
  text-align: center;
  line-height: 1.2rem;
  padding: 0 0.9rem;
}

form p span {
  color: var(--color-red);
  font-weight: var(--fw-bold);
}

footer {
  margin: 0.5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 376px) {
  body {
    background-repeat: repeat;
    background-size: contain;
  }

  .container {
    max-width: 72rem;
    display: flex;
  }

  .container__left {
    flex: 1 1 50%;
  }

  .container__right {
    flex: 1 1 50%;
  }

  h1 {
    font-size: 2.9rem;
    text-align: left;
    margin-top: 18.4rem;
    padding: 0 0 0 1.4rem;
    letter-spacing: 0.08rem;
    line-height: 3.5rem;
    margin-bottom: 1.7rem;
  }

  .info {
    font-size: 1rem;
    text-align: left;
    padding: 0 0 0 1.3rem;
    margin-bottom: 0rem;
  }

  .try {
    font-size: 0.97rem;
    margin: 7.5rem 1.2rem 1.4rem 1.0rem;
  }

  .try span {
    font-weight: var(--fw-semibold);
  }

  form {
    background-color: white;
    border-radius: 0.7rem;
    padding: 2.6rem 1rem 2.6rem 1rem;
    margin: 0 1.4rem 0 1rem;
    box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15);
  }

  .wrapper {
    padding: 0 1.5rem;
  }

  .item {
    position: relative;
    border: 1px solid var(--color-grayish-blue);
    overflow: hidden;
    border-radius: 0.3rem;
    margin-top: 1.34rem;
  }

  form button {
    font-weight: var(--fw-medium);
    letter-spacing: 0.03rem;
    padding-top: 0.2rem;
    margin-bottom: 0.7rem;
  }
}